.biao_ti {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.biao_tou_dan_yuan_ge {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em;
    margin: 1em 0
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.5;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    line-height: 1.5
    }
.calibre2 {
    font-weight: bold;
    line-height: 1.5
    }
.calibre3 {
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.5;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre4 {
    display: block;
    line-height: 1.5
    }
.calibre5 {
    line-height: 1.5;
    text-decoration: none
    }
.calibre6 {
    display: block;
    line-height: 1.5
    }
.calibre7 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.5;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em
    }
.calibre8 {
    font-style: italic;
    line-height: 1.5
    }
.calibre9 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0;
    margin: 1em 0
    }
.calibre10 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.5;
    padding: 0;
    margin: 1em 0 0
    }
.calibre11 {
    display: block;
    line-height: 1.5;
    margin: 1em
    }
.calibre12 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 2em;
    margin: 1em 0
    }
.calibre13 {
    height: auto;
    line-height: 1.5;
    width: 10% px
    }
.calibre14 {
    display: block;
    line-height: 1.5;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre15 {
    height: auto;
    line-height: 1.5;
    width: auto
    }
.calibre16 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.5;
    padding: 0;
    margin: 1em 0 0
    }
.calibre17 {
    font-size: 0.75em;
    line-height: 1.5;
    vertical-align: super
    }
.calibre18 {
    font-size: 0.75em;
    line-height: 1.5;
    vertical-align: sub
    }
.calibre19 {
    font-family: Courier, Menlo, Monaco, Consolas, monospace
    }
.calibre20 {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    line-height: 1.5;
    text-indent: 0;
    margin: 15px auto 30px
    }
.calibre21 {
    display: table-header-group;
    line-height: 1.5;
    vertical-align: middle
    }
.calibre22 {
    display: table-row;
    line-height: 1.5;
    vertical-align: inherit
    }
.calibre23 {
    display: table-cell;
    font-size: 0.75em;
    font-weight: bold;
    page-break-inside: avoid;
    text-align: center;
    vertical-align: auto;
    padding: 0.3em;
    border: #000 solid 1px
    }
.calibre24 {
    display: table-row-group;
    line-height: 1.5;
    vertical-align: middle
    }
.calibre25 {
    display: table-cell;
    font-size: 0.75em;
    page-break-inside: avoid;
    text-align: left;
    vertical-align: auto;
    padding: 0.3em;
    border: #000 solid 1px
    }
.calibre26 {
    background-color: #f1f6fc;
    display: table-row;
    line-height: 1.5;
    vertical-align: inherit
    }
.calibre27 {
    height: auto;
    width: auto
    }
.calibre28 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.5;
    text-align: center;
    padding: 0;
    margin: 1em 0
    }
.dai_ma_wu_xing_hao {
    display: block;
    font-family: Courier, Menlo, Monaco, Consolas, monospace;
    font-size: 0.75em;
    white-space: pre-wrap;
    padding: 0.3em;
    margin: 1.3em 0;
    border: #000 solid 1px
    }
.di_1ji_wu_xu_lie_biao {
    display: list-item;
    line-height: 1.5
    }
.not-in-toc {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5;
    margin: 0.67em 0
    }
.sgc-toc-level {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.5;
    margin-bottom: 1em;
    margin-left: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em
    }
.sgc-toc-level1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.5;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em
    }
.sgc-toc-title {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center
    }
.sigil_not_in_toc {
    display: block;
    font-weight: bold;
    line-height: 1.5;
    padding: 0;
    margin: 1em 0 0
    }
.tu {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.zw {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em;
    margin: 1em 0
    }
